workflows/workflow-4-review-decision.json
{
  "name": "Review Decision Pipeline",
  "nodes": [
    {
      "parameters": {"httpMethod": "GET", "path": "review-decision"},
      "name": "Webhook 接收",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{$json.query.review_note.length}}", "operation": "largerEqual", "value2": 10}
          ]
        }
      },
      "name": "驗證決策",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"請填寫至少 10 字的決策理由\"}",
        "options": {"responseCode": 400}
      },
      "name": "驗證決策失敗回應",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "knowledge_base",
        "updateKey": "id",
        "fields": {
          "status": "={{$json.query.decision === 'approve' ? 'active' : ($json.query.decision === 'reject' ? 'draft' : 'partial')}}",
          "review_note": "={{$json.query.review_note}}",
          "last_reviewed_at": "={{new Date().toISOString()}}"
        }
      },
      "name": "更新 knowledge_base",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "operation": "get",
        "table": "knowledge_base",
        "returnAll": false,
        "matchColumns": "id",
        "matchValue": "={{$node['Webhook 接收'].json.query.knowledge_id}}"
      },
      "name": "取得 knowledge_base 紀錄",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [600, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{$node['Webhook 接收'].json.query.decision}}", "operation": "equal", "value2": "approve"},
            {"value1": "={{$node['Webhook 接收'].json.query.proposed_tag}}", "operation": "isNotEmpty"}
          ]
        }
      },
      "name": "檢查是否寫入 tag_library",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [800, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "tag_library",
        "updateKey": "tag_name",
        "fields": {
          "status": "active",
          "approved_at": "={{new Date().toISOString()}}"
        }
      },
      "name": "處理 tag_library",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1000, -100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{$node['Webhook 接收'].json.query.decision}}", "operation": "notEqual", "value2": "reject"}
          ]
        }
      },
      "name": "檢查是否給予 credits",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "credits",
        "fields": {
          "practitioner_id": "={{$node['取得 knowledge_base 紀錄'].json.contributor_id}}",
          "amount": 10,
          "reason": "knowledge_contributed",
          "knowledge_id": "={{$node['Webhook 接收'].json.query.knowledge_id}}"
        }
      },
      "name": "更新 credits",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1400, -100]
    },
    {
      "parameters": {
        "url": "https://api.line.me/v2/bot/message/push",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer {{$env.LINE_CHANNEL_ACCESS_TOKEN}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{$node['取得 knowledge_base 紀錄'].json.contributor_line_user_id || $env.LINE_USER_ID}}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"🌟 知識貢獻回饋\\n您提交的「{{ $node['取得 knowledge_base 紀錄'].json.title || '知識條目' }}」{{ $node['Webhook 接收'].json.query.decision === 'approve' ? '已入庫 ✅' : ($node['Webhook 接收'].json.query.decision === 'partial' ? '部分入庫 ⚠️' : '未通過 ❌') }}\\n獲得點數：+{{ $node['Webhook 接收'].json.query.decision === 'reject' ? '0' : '10' }} 點\\n\\n感謝您的貢獻，每一筆知識都讓系統更智慧！\"\n    }\n  ]\n}"
      },
      "name": "LINE 通知師傅",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1600, 0]
    }
  ],
  "connections": {
    "Webhook 接收": {
      "main": [
        [{"node": "驗證決策", "type": "main", "index": 0}]
      ]
    },
    "驗證決策": {
      "main": [
        [{"node": "更新 knowledge_base", "type": "main", "index": 0}],
        [{"node": "驗證決策失敗回應", "type": "main", "index": 0}]
      ]
    },
    "更新 knowledge_base": {
      "main": [
        [{"node": "取得 knowledge_base 紀錄", "type": "main", "index": 0}]
      ]
    },
    "取得 knowledge_base 紀錄": {
      "main": [
        [{"node": "檢查是否寫入 tag_library", "type": "main", "index": 0}]
      ]
    },
    "檢查是否寫入 tag_library": {
      "main": [
        [{"node": "處理 tag_library", "type": "main", "index": 0}],
        [{"node": "檢查是否給予 credits", "type": "main", "index": 0}]
      ]
    },
    "處理 tag_library": {
      "main": [
        [{"node": "檢查是否給予 credits", "type": "main", "index": 0}]
      ]
    },
    "檢查是否給予 credits": {
      "main": [
        [{"node": "更新 credits", "type": "main", "index": 0}],
        [{"node": "LINE 通知師傅", "type": "main", "index": 0}]
      ]
    },
    "更新 credits": {
      "main": [
        [{"node": "LINE 通知師傅", "type": "main", "index": 0}]
      ]
    }
  }
}
