workflows/workflow-4-knowledge-intake.json
{
  "name": "Knowledge Intake Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "knowledge-intake",
        "options": {}
      },
      "name": "Webhook 接收",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{$json.body.raw_content.length}}", "operation": "largerEqual", "value2": 20},
            {"value1": "={{$json.body.contributor_id}}", "operation": "isNotEmpty"}
          ]
        }
      },
      "name": "輸入驗證",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"輸入驗證失敗：raw_content 需 ≥ 20 字且 contributor_id 不可為空\"}",
        "options": {"responseCode": 400}
      },
      "name": "輸入驗證失敗回應",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "prompt": "你是傳統調理知識蒲集專員。從文章中萃取所有可能有價值的知識片段。\n如包含多個穴位，每個穴位拆分為獨立條目。\n輸出格式：JSON 陣列，每筆含 title、raw_content、detected_acupoints[]。\n只蒲集不判斷，不過濾任何內容。\n文章內容: {{$json.body.raw_content}}"
      },
      "name": "Agent 1：資料蒲集員",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "prompt": "你是知識庫結構化專員。將原始萃取轉為 knowledge_base 欄位格式。\n必填欄位：category、title、content、pattern_tags[]、level、applicable_techniques[]。\npattern_tags 先比對 tag_library 現有 active 標籤，無法對應時建議新標籤名稱。\n偵測與現有 knowledge_base 條目的重複。\n萃取結果: {{$json.message.content}}"
      },
      "name": "Agent 2：結構化整理員",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [600, 0]
    },
    {
      "parameters": {
        "prompt": "你是調理知識合規審查員。執行以下所有審核關卡：\n關卡一：合規語言 — 偵測 content 與所有文字欄位中是否包含以下 20 個醫療禁止詞彙或其語意變體：診斷、確診、病因、病症、症狀、疾病、病變、治療、療效、醫治、處方、藥物、痊癒、康復、治癒、風險、併發症、惡化、緊急、危險。發現時標示違規詞彙與建議替換詞。\n關卡二：欄位完整 — title / content 必填，pattern_tags ≥ 1，level 已設定。\n關卡三：內容邏輯 — 配穴說明與穴位相符、行為標籤與內容一致。\n關卡四：層級適切 — L1 不含過度專業術語，L3 可用完整技術語言。\n關卡五：知識衝突 — 查詢 knowledge_base 現有 active 條目比對。\n草稿: {{$json.message.content}}"
      },
      "name": "Agent 3：合規審查員 (AI)",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [800, 0]
    },
    {
      "parameters": {
        "jsCode": "const FORBIDDEN = [\"診斷\",\"確診\",\"病因\",\"病症\",\"症狀\",\"疾病\",\"病變\",\n  \"治療\",\"療效\",\"醫治\",\"處方\",\"藥物\",\"痊癒\",\"康復\",\"治癒\",\n  \"風險\",\"併發症\",\"惡化\",\"緊急\",\"危險\"];\nconst text = JSON.stringify($input.item.json, null, 0);\nconst violations = FORBIDDEN.filter(w => text.includes(w));\nreturn {\n  ...$input.item.json,\n  violations,\n  has_violations: violations.length > 0\n};"
      },
      "name": "Agent 3：合規審查員 (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "prompt": "你是審核報告整合專員。將前三個 Agent 的輸出整合為一份清晰的人工審核報告。\n報告包含：萃取結果摘要、合規審查結果、衝突警示、建議決策選項。\n建議決策選項：通過 / 部分通過 / 退回，附各選項理由。\n資料: {{$json}}"
      },
      "name": "Agent 4：報告整合員",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "knowledge_base",
        "fields": {
          "status": "pending_review",
          "contributor_id": "={{$node['Webhook 接收'].json.body.contributor_id}}",
          "source_credibility": "={{$json.source_credibility || 'medium'}}",
          "version": 1,
          "title": "={{$json.title}}",
          "category": "={{$json.category}}",
          "content": "={{$json.content}}",
          "level": "={{$json.level}}"
        }
      },
      "name": "寫入 Supabase (knowledge_base)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1400, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{$json.proposed_tag}}", "operation": "isNotEmpty"}
          ]
        }
      },
      "name": "是否有新建議標籤",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1600, 0]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "tag_library",
        "fields": {
          "tag_name": "={{$json.proposed_tag}}",
          "description": "={{$json.proposed_tag_description || 'Auto-suggested tag'}}",
          "status": "proposed",
          "proposed_by": "system",
          "created_at": "={{new Date().toISOString()}}"
        }
      },
      "name": "寫入 tag_library",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1800, -100]
    },
    {
      "parameters": {
        "url": "https://notify-api.line.me/api/notify",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer {LINE_TOKEN}"}]},
        "sendBody": true,
        "bodyParameters": {"parameters": [{"name": "message", "value": "📚 新知識待審核\n標題：{{$json.title}}\n來源可信度：{{$json.source_credibility}}\n合規審查：{{$json.has_violations ? 'fail' : 'pass'}}\n建議決策：{{$json.decision_suggestion}}\n點此審核：{review_webhook_url}?id={{$json.id}}"}]}
      },
      "name": "LINE 通知審核者",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2000, 0]
    }
  ],
  "connections": {
    "Webhook 接收": {
      "main": [
        [{"node": "輸入驗證", "type": "main", "index": 0}]
      ]
    },
    "輸入驗證": {
      "main": [
        [{"node": "Agent 1：資料蒲集員", "type": "main", "index": 0}],
        [{"node": "輸入驗證失敗回應", "type": "main", "index": 0}]
      ]
    },
    "Agent 1：資料蒲集員": {
      "main": [
        [{"node": "Agent 2：結構化整理員", "type": "main", "index": 0}]
      ]
    },
    "Agent 2：結構化整理員": {
      "main": [
        [{"node": "Agent 3：合規審查員 (AI)", "type": "main", "index": 0}]
      ]
    },
    "Agent 3：合規審查員 (AI)": {
      "main": [
        [{"node": "Agent 3：合規審查員 (Code)", "type": "main", "index": 0}]
      ]
    },
    "Agent 3：合規審查員 (Code)": {
      "main": [
        [{"node": "Agent 4：報告整合員", "type": "main", "index": 0}]
      ]
    },
    "Agent 4：報告整合員": {
      "main": [
        [{"node": "寫入 Supabase (knowledge_base)", "type": "main", "index": 0}]
      ]
    },
    "寫入 Supabase (knowledge_base)": {
      "main": [
        [{"node": "是否有新建議標籤", "type": "main", "index": 0}]
      ]
    },
    "是否有新建議標籤": {
      "main": [
        [{"node": "寫入 tag_library", "type": "main", "index": 0}],
        [{"node": "LINE 通知審核者", "type": "main", "index": 0}]
      ]
    },
    "寫入 tag_library": {
      "main": [
        [{"node": "LINE 通知審核者", "type": "main", "index": 0}]
      ]
    }
  }
}
